body {
    // background: #efefef;
    // background: black;
    // background: darkgray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg {
    // background-color: beige;
    // background-color: white;
    // background-color: #f3f1e4;
    background-color: #2f343c;
}

line {
    // stroke-width: 5px;
}
