body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg {
    // background-color: #fbf5d4;
    // background-color: #425a45;
    background-color: #3e3e3e;
    font-family: Futura;
}

line {
    stroke-width: 2px;
}

text {
    font-size: 7pt;
}

