body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg {
    // background-color: #c3d0e6;
    // background-color: #ffecd9;
    background-color: #d4fbe2;
    font-family: Futura;
}

.char {
    stroke: #d89090;
    stroke-width: 10px;
}

