body {
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0 1rem;
}

#answer-container {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
}

.numbers {
    color: blue;
    width: 30px;
    text-align: center;
    display: inline-block;
    transition: all 0.8s ease-in-out;
    opacity: 0;
}

.crossed {
    background-color: red;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.highlighted {
    background-color: green;
}
