body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg {
    background-color: #c3d0e6;
    font-family: monospace;
}

text {
    font-size: 12px;
}

line {
    stroke: darkred;
    stroke-width: 1px;
}
