body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
svg {
    // background-color: #c3d0e6;
    // background-color: #ffecd9;
    background-color: #d4fbe2;
    font-family: Futura;
}

.queen {
    fill: #165f5e;
}

